/* Write your CSS code here */
.list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.para {
  color: white;
  margin: 15px;
}
.icon {
  height: 40px;
  width: 40px;
  border-radius: 15px;
}
.mini1 {
  display: flex;
  justify-content: center;
}
.mini2 {
  display: flex;
  justify-content: center;
}
